@using UK_Games.Infrastructure
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - UK Games</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/GameStyle.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/UK_Games.styles.css" asp-append-version="true"/>
    
    @Html.Partial("_Favicons")
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")" style="padding-left: 1em;">
                <img src="~/img/logos/UK Games full.png" style="height:2.5em"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ukgamesNav" aria-controls="ukgamesNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="ukgamesNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    @{
                        if (Context.Session.GetString("loggedIn") == "true")
                        {
                            User user = GeneralMethods.GetLoggedInUser(Context.Session);
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hi @user.Username!</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="@Url.Action("Index", "User")">View Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("Logout", "User")">Logout</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Howdy!</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="@Url.Action("Login", "User")">Login</a>
                                </div>
                            </li>
                        }
                    }
                </ul>
                
                <form class="d-flex" method="post" action="Game/Search">
                    <input class="form-control me-sm-2" type="text" id="pattern" name="pattern" placeholder="Search"/>
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    <asp:TextBox ID="box" type="text" runat="server"></asp:TextBox>
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="main">
    <main role="main">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>